@model IEnumerable<Test13.Models.Utilisateur>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Civil.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organisation.Denomination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pays.Pays_nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numéro_Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Civil.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organisation.Denomination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pays.Pays_nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numéro_Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UtilisateurID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UtilisateurID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UtilisateurID })
        </td>
    </tr>
}

</table>
