@model Test13.Models.Incident_Motif

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Incident_Motif</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Motif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motif_Symbole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motif_Symbole)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Incident_MotifID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
